{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adaptable/header

    This template renders the header.

    Example context (json):
    {
        "coursetitle": "My course",
        "coursetitleurl": "https://localhost/course/view.php?id=2",
        "navbar": "navbar_if_available",
        "headerclasses": "d-none d-md-flex",
        "headeritemsbottom": false
    }
}}

<div class="row">
    <div id="page-second-header" class="col-12 pt-3 pb-3">
        <div class="d-flex flex-fill flex-wrap align-items-center{{#coursetitle}} position-relative{{/coursetitle}}">
            {{#navbar}}
            <div id="page-navbar" class="me-auto {{{headerclasses}}}">
                {{{navbar}}}
            </div>
            {{^headeritemsbottom}}
            <div class="header-actions-container ms-auto" data-region="header-actions-container">
                {{#headeractions}}
                <div class="header-action ms-2">{{{.}}}</div>
                {{/headeractions}}
            </div>
            {{/headeritemsbottom}}
            {{/navbar}}
            {{#coursetitle}}
            <div id="page-coursetitle" class="col-12">
                <div id="coursetitle" class="p-2 bd-highlight">
                    <h1>
                        <a href="{{coursetitleurl}}">
                            {{coursetitle}}
                        </a>
                    </h1>
                </div>
            </div>
            {{/coursetitle}}
        </div>
        <div class="d-flex align-items-center">
            <div class="me-auto d-flex flex-column">
                {{#contextheader}}
                <div>
                    {{{contextheader}}}
                </div>
                {{/contextheader}}
                {{#welcomemessage}}
                <div>
                    {{> core/welcome }}
                </div>
                {{/welcomemessage}}
            </div>
            {{#headeritemsbottom}}
            <div class="header-actions-container ms-auto" data-region="header-actions-container">
                {{#headeractions}}
                <div class="header-action ms-2">{{{.}}}</div>
                {{/headeractions}}
            </div>
            {{/headeritemsbottom}}
        </div>
    </div>
</div>
